<!-- Side menu and Content-->
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 padding-right-0">
            <!-- sidebar -->
            {{> categoriesMenu}}            
            <!-- end of sidebar -->
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
            <!-- content -->
            <section class="content">
                {{> moviesPreview}}

            </section>
            <!-- end of content -->
        </div>
    </div>
    <div>

    </div>
    <div class="row center-content">
        <div class="pagination col-md-12 ">
            <ul>
                {{#unless paginationInfo.isOnFistPage}}
                    <li class="laquo"><a href="/genre/{{genreId}}/{{paginationInfo.previousPage}}"><span></span></a></li>
                {{/unless}}


                {{#each paginationInfo.pagesArr }}

                    <li  {{#equal this ../paginationInfo.currentPage}}class="active"{{/equal}} ><a href="/genre/{{../genreId}}/{{this}}">{{this}}</a></li>
                {{/each}}

                {{#unless paginationInfo.isOnLastPage}}
                    <li class="raquo"><a href="/genre/{{genreId}}/{{paginationInfo.nextPage }}"><span></span></a></li>
                    <li class="dots">. . .</li>
                    <li><a href="/genre/{{genreId}}/{{paginationInfo.pages }}">last page({{paginationInfo.pages}})</a></li>
                {{/unless}}

            </ul>
        </div>
    </div>
</div>