<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/movie/edit/{{movie.id}}">
            <fieldset>
                <legend>Edit Movie</legend>
                <div class="form-group"><label class="col-sm-4 control-label" for="movieTitle">Movie Title</label>
                    <div class="col-sm-4 "><input type="text" class="form-control" id="movieTitle"
                                                  placeholder="Article Title" value="{{movie.title}}" name="title" required>
                    </div>
                </div>
                <div class="form-group"><label class="col-sm-4 control-label" for="movieContent">Content</label>
                    <div class="col-sm-6"><textarea class="form-control" id="movieContent" rows="5" name="content"
                                                    required>{{movie.content}}</textarea></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each movie.categories}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="tags">Tags</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="tags" name="tags" value="{{ movie.tagNames }}"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4"><a href="/" class="btn btn-default">Cancel</a>
                        <button type="submit" href="/movie/edit/{{id}}" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>